<<<<<<< HEAD
/*Estilo págs registro e inicio sesión*/
body{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size: small;
}


=======
>>>>>>> ramaAitor
.fondoAzul{
    display: flex;
    justify-content: center;
    align-items: center;   
    background-color: #DBE4F6;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100vh;
    height: 100vh;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    h3{
        text-align: left;
        color: rgb(51, 51, 151);
    }
}



h1{
    text-align: left;
    color: rgb(63,63,166);
}

.formulario{
    display: flex;
    flex-direction: column; 
    form{
        background-color: rgb(255, 255, 255);
        padding:20px;
        width: 225px;
        text-align: left;
        margin: 0 auto;
        align-items: center;
        border-radius: 10px;       
        ul {
            list-style-type: none;
            padding: 5px;
            margin: 5px;
        
            li input{
                border-radius: 5px;
                height: 25px;
                margin-top: 10px;
                width: 190px;
                border:1px  solid#ccc;
            }
            
        } 
            
    }       
   
}

.boton{
    background-color: rgb(63, 63, 166);
    color:white;
    margin-top: 10px;
    width: 200px;
    height: 30px;
    border: 0px;
    border-radius: 10px;
    align-items: center;
}

.inicioSesion{
    margin-top: 20px;
    text-decoration: none;
    text-align: center;
}
.Linkcontrasenya{
    margin-top: 20px;
    text-align: center;
}

/*Estilo página categorias y selección*/
#categorias{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}

#titulocategorias{
    margin-bottom: 10px;
    color: rgb(51, 51, 151);
    margin-left: 30px;
}

#listacategorias {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    list-style: none;
    padding: 0px;
       
    li {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;
        margin-bottom: 25px;
    }
}

#listacategorias2 {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    list-style: none;
    padding: 0px;
    width: 417px;
    margin:0px;
}

#caja1 { background-color: #a3b8d3; width: 48%; height: 300px;}
#caja2 { background-color: #5b6b86; width: 48%; height: 300px;}
#caja3 { background-color: #2c3e50; width: 36%; height: 300px; }
#caja4 { background-color: #4d648d; width: 100%; height: 140px;}
#caja5 { background-color: #1d2935; width: 36%; height: 300px; }
#caja6 { background-color: #8ea1c0; width: 100%; height: 140px; }

/*Estilo página eventos*/

#franja{
    display: flex;
}

#proxeventos{
    width: 80%;
    background-color: #2c3e50;
    color: white;
    text-align: center;
    display:inline-block;
    height: 200px;
   
}
#categoria{
    width: 20%;
    background-color: #dfdfdf;
    color: rgb(108, 106, 106);
    text-align: center;
    display:inline-block;
    height: 200px;
    }

.eventosvarios{
    display: flex;
    flex-direction: column;
    margin:20px;
    width: 47%;
    padding: 8px;
    img{
        width: 100%;
        height: 200px;
        background-color:#5b6b86;
        color: white;
    }
    h4{
    margin-bottom: 0;
    width: 70%;
    }
    h6{
        margin-top: 5px;
        color:#4d648d;
        width: 70%;        
    }
}

.iconosimagenes{
   display: flex;
   flex-wrap: nowrap;
   justify-content: right;
   margin-bottom:0;
   div{
    margin-left: 10px;
   }
}

#alineacioneventos{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;    
}




/*Header páginas internas web*/
.franjasuperior{
    display: flex;
    justify-content: left;
    background-color:#DBE4F6;
    width: 100%;
    height: 40px;
    padding-left: 55px;
    padding-top: 20px;
    padding-bottom: 10px;
}

#logoheader{
    display: flex;
    width: 150px;
    height: 20;
    background-color:#2c3e50;
    }



.navegador{
    nav ul {
        list-style: none;
        margin-top: 20px;
        display: flex;
    }

    nav li {
        
        margin-left: 1rem;
    }
    a{
        text-decoration: none;
        color:#4d648d;
    }
}

/*Footer páginas internas web*/
footer{
    display: flex;
    background-color:#1d2935;
    width: 100%;
    height: 70px;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 20px;
    justify-content:space-between;
    color:white;
    ul{
        list-style: none;
        padding: 0px;
    }
    a{
        text-decoration: none;
        color:white;
        text-align: right;
        margin-right: 30px;
    }
}

#logofooter{
    display: flex;
    width: 150px;
    height: 60;
    background-color: #8ea1c0;
    }

.redessociales{
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;   
    margin-bottom:0;
    color: #dfdfdf;
    align-items: center;
    div{
     margin-left: 10px;
     margin-top: 120px;
    }
    }
   